html, body {
    background-color: #49796B;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.main-home{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.main-leaderboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.app-header-title {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    background-color: none;
    color: white;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 350px;
    height: 250px;
    background-color: #ECDFCC;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0px 4px 8px rgba(0,0,0, .2);
    gap: 4px;
}

.login-form-button-container{
    display: flex;
    gap: 10px;
    padding-top: 10px;
}

.login-form-button, .logout-button {
    border: none;
    background-color: rgb(253, 140, 84);
    border-radius: 2px;
    width: 80px;
}

#username, #password, #stock-symbol {
    border: none;
    border-radius: 2px 2px 2px 2px;
    padding: 4px;
}

.main-portfolio {
    display: flex;
    flex-direction: column;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    color: white;
}

.stockquery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    color: white;
}

.stockquery {
    
}

.stockquery-field {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    width: 500px;
}

.stock-suggestions {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    background: black;
    scrollbar-width: none;
  }
  
  .stock-suggestions li {
    padding: 8px;
    cursor: pointer;
  }
  
  .stock-suggestions li:hover {
    background: green;
  }

.stockquery-button{
    border: none;
    background-color: rgb(253, 140, 84);
    border-radius: 2px;
}

.stockchart-and-bet-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.stockchart-and-bet-container > * {
    background-color: #ECDFCC;
    border-radius: 3px;
    box-shadow: 0px 4px 8px rgba(0,0,0, .2);
    padding: 10px;
}

.stockchart-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    width: 56%;
}

.stock-img{
    height: auto;
    width: 100%;
}

.bet-options-container, .bet-placed-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24%;
}

.bet-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.bet-button, .close-bet-button {
    border: none;
    background-color: rgb(253, 140, 84);
    border-radius: 2px;
}

.chatbox-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.chatbox {
    padding: 10px;
    width: 80%;
    overflow-y: auto;
    scroll-behavior: smooth;
    color: white;
    background-color: black;
    border-radius: 2px;
}

.chatbox-send-msg-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.chatbox-send-msg {
    padding: 10px;
    width: 80%;
    color: white;
}

.send-msg-button {
    border: none;
    background-color: rgb(253, 140, 84);
    border-radius: 2px;
}

.table-leaderboard{
    text-align: center;
    background-color: #ECDFCC;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0px 4px 8px rgba(0,0,0, .2);
}

.table-leaderboard th {
    background-color: rgb(253, 140, 84);
}

.table-leaderboard th, .table-leaderboard td{
    padding: 5px;
    padding-left: 10px;
    border-bottom: 2px solid rgb(253, 140, 84);
};

.leaderboard-title{
    color: white;
}

.navbar {
    background-color: #113530;
    padding: 10px;
    text-align: center;
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav-links a {
    color: whitesmoke;
    display: flex;
    font-weight: bold;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    bottom: 0;
    width: 100%;
    color: white;
}

.github-logo {
    height: 30px;
    width: 30px;
}

@media (orientation: portrait) {
    .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%
    }
    .navbar {
        justify-content: center;
    }

    .stockchart-and-bet-container{
        flex-direction: column;
        align-items: center;
    }

    .stockchart-and-bet-container > *{
        width: 80%;
    }
}

    


